In [5]:
# import libraries

import pandas as pd

# Load dataset
dataset = pd.read_csv('D:\Desktop\Project\FlightSalesClean.csv')

# bold the result of program to show cutie
class color:
   BOLD = '\033[1m'
   END = '\033[0m'
print(color.BOLD + '## Load dataset compelete ##')

## Load dataset compelete ##

In [6]:
# to get number of columns and rows:
print('Number of rows is:', dataset.shape[0])
print('Number of columns is:', dataset.shape[1])
print('~~~~~~~~~~~~~~~~~~~~~~~~~~~~~')

Number of rows is: 198814
Number of columns is: 13
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

In [7]:

#get type, total count, and number of nulls for each column, also get total number of columns for each type, range index and total columns
dataset.info(verbose = False)
print('~~~~~~~~~~~~~~~~~~~~~~~~~~~~~')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 198814 entries, 0 to 198813
Columns: 13 entries, Unnamed: 0 to path
dtypes: float64(2), int64(9), object(2)
memory usage: 19.7+ MB
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

In [8]:

#how many unique values each column has? this shows what range of data in each topic we're talking about
print('each coulmn’s unique values are:')
print(dataset.nunique())
print('~~~~~~~~~~~~~~~~~~~~~~~~~~~~~')

each coulmn’s unique values are:
Unnamed: 0           198814
id                   198814
user_id               41811
request_date_id         730
request_time           2965
departure_date_id       766
departure_time_id       229
company                  13
source                   28
destination              28
price                  4349
month                    12
path                    146
dtype: int64
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

In [9]:

# readable dates using datetime
dataset['departure_date_id'] = pd.to_datetime(dataset['departure_date_id'], format='%Y%m%d')
dataset['request_date_id'] = pd.to_datetime(dataset['request_date_id'], format='%Y%m%d')

In [11]:

# get the range of each column
print('request_date_id is', dataset['request_date_id'].min(), 'to', dataset['request_date_id'].max())
print('request_time is', dataset['request_time'].min(), 'to', dataset['request_time'].max())
print('departure_date_id is', dataset['departure_date_id'].min(), 'to', dataset['departure_date_id'].max())
print('company is', dataset['company'].min(), 'to', dataset['company'].max())
print('price is', dataset['price'].min(), 'to', dataset['price'].max() , 'and its mean value is:',round(dataset['price'].mean() , 2))
print('month is', dataset['month'].min(), 'to', dataset['month'].max())
print('~~~~~~~~~~~~~~~~~~~~~~~~~~~~~')

request_date_id is 2016-03-21 00:00:00 to 2018-03-20 00:00:00
request_time is 00:00:00 to 23:59:00
departure_date_id is 2016-03-21 00:00:00 to 2018-05-15 00:00:00
company is 1 to 20
price is 0.030973 to 9443.805309000001 and its mean value is: 790.61
month is 1 to 12
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~